jupyter
ipykernel
black
isort
ruff
pytest
pytest-cov
pre-commit
numpy
pandas
torch
fastai
scikit-learn
openpyxl
procyclingstats==0.1.7
fastapi
uvicorn
streamlit
faiss-cpu
boto3
python-dotenv
unidecode